* {
  overflow-x: hidden;
 
  font-family: "Inter";

}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}


.boton {
  align-self: center;
  background-color: black;
  font-size: small;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  overflow: hidden;
}

.boton img {
  height: 18px;
  width: auto;
}

.boton:hover {
  color: rgba(167, 97, 38);
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  animation: vibrar 1.2s infinite ease-in-out;
}



@keyframes vibrar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.10);
  }

  100% {
    transform: scale(1);
  }

}